@model Store.Models.ChangePasswordViewModel

@{

}

<div class="row justify-content-center">
    <div class="col-6 ">
        <div class="card shadow">
            <div class="card-body">
                <form asp-action="ChangePassword">
                <div class="form-group mb-3">
                    <label asp-for="CurrentPassword" class="control-label"></label>
                    <input asp-for="CurrentPassword" class="form-control" type="password" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" type="password" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" type="password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group d-grid gap-2 mb-3">
                    <input type="submit" value="Submit" class="btn btn-outline-dark " />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}