@model Store.Models.User
@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-center">
    <div class="col-8 ">
        <div class="card shadow">
            <div class="card-header">
                My profile
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <dv class="col-3">
                        <img class="img-fluid rounded-2" src="@Url.Action("Photo", "Account", new {id = Model.Id })" />

                    </dv>
                </div>
               @* <div class="row">*@
                   @* <div class="form-group">
                        <label asp-for="Photo" class="control-label"></label>
                        <input asp-for="Photo" type="file" class="form-control" accept="image/jpeg" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>*@
               @* </div>*@
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="AccountId" />
                    <input type="hidden" asp-for="Photo" />
                    <div class="form-group">
                        <label asp-for="Photo" class="control-label"></label>
                        <input asp-for="Photo" type="file" class="form-control" accept="image/jpeg" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    @* <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="Username" />
                    <input type="hidden" asp-for="Password" />
                    <input type="hidden" asp-for="ConfirmPassword" /> *@
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    @* <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" readonly disabled />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Username" class="form-label"></label>
                        <input asp-for="Username" class="form-control" readonly disabled />
                    </div> *@

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Address" class="form-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="City" class="form-label"></label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Phone" class="form-label"></label>
                                <input asp-for="Phone" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="PostalCode" class="form-label"></label>
                                <input asp-for="PostalCode" class="form-control" />
                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Country" class="form-label"></label>
                                <input asp-for="Country" class="form-control" />
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-dark w-100" type="submit">Editar</button>
                </form>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}