@model Store.Models.LoginViewModel

@{

}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="card-title text-center">Sign In</h3>
                <form asp-action="Login">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="email@outlook.com" />
                        <span asp-validation-for="Email" class="text-danger" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"> </label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="********" />
                        <span asp-validation-for="Password" class="text-danger"/>
                    </div>
                    <div class="mb-3 form-check">
                        <label asp-for="RememberMe" class="form-check-label">Remember Me</label>
                        <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                        <a class="nav-link d-inline-flex float-end link-info" asp-area="" asp-controller="ProductCategories" asp-action="Index">Forgot Password?</a>
                       
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="d-grid gap-2">
                        <input type="submit" class="btn btn-outline-dark d-grid gap-2" value="Login" />
                    </div>
                    <div class="form-text mt-3">
                        Don't have an account?
                        <a class=" d-inline-flex float-end link-info text-decoration-none" asp-area="" asp-controller="Account"  asp-action="SignUp"> Create Account</a>

                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
